*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 2px solid black; */
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    height: 80px;
    /* TEST */
    border: 1px solid black;
}
body{
    font-family: 'Open Sans',sans-serif;
    font-weight: bold;
}
main{
    margin-top: 80px;
    /* TEST */
    border: 1px solid red;
}


/* CONTAINER */
.container{
   width: 100%;
   margin: auto;
}

/* NAV MENU */
.col{
    float: left;
    margin: 10px 25px;
}
.col-right{
    float: right;
    margin: 10px 25px;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.col menu{
    width: 80%;
    text-align: center;
}
.menu-top {
    list-style-type: none;
    margin: 20px 0;
}
.menu-top li{
    display: inline-block;
    margin: 0 15px;
}
.menu-top a{
    text-decoration: none;
    color: black;
}

.col-right > .menu-top li:last-child a{
    color: white;
}

/* BUTTON */
.start {
    padding: 10px 15px;
    font-size: 15px;
    display: inline-block;
    background-color: #0061ff;
}

/* LOGO */
.logo{
    width: 10%;
}
.logo img{
    vertical-align: middle;
    margin: 20px 15px;
}

