*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    height: 80px;
    background-color: white;
    z-index: 50;
}
body{
    font-family: 'Open Sans',sans-serif;
    font-weight: bold;
}
main{
    margin-top: 80px;
}
img{
    width: 100%;
}

/* CONTAINER */
.container{
   width: 100%;
   margin: auto;
}

/* NAV MENU */
.col{
    float: left;
}
.col-right{
    float: right;
    margin: 0 25px;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.col menu{
    width: 80%;
    text-align: center;
}
.menu-top {
    list-style-type: none;
    margin: 20px 40px;
}
.menu-top li{
    display: inline-block;
    margin: 0 15px;
}
.menu-top a{
    text-decoration: none;
    color: black;
}

.col-right > .menu-top li:last-child a{
    color: white;
}

/* BUTTONS BANNER BOTTOM */
.buttons{
    margin: 80px 400px;
    padding: 10px 15px;
    font-size: 15px;
    display: inline-block;
    background-color: white;
    color: black;
    text-decoration: none;
}
/* BUTTON */
.btk-blue{
    padding: 10px 15px;
    font-size: 15px;
    display: inline-block;
    background-color: #0061ff;
    color: white;
}
.jumbotron .btk-blue{
    color: white;
    text-decoration: none;
    margin-top: 25px;
}
.btk {
    text-decoration: none;
    display: inline-block;
    line-height: normal;
    font-size: 13px;
}
.btk-large {
    padding: 5% 2%;
}
.btk-white {
    color: black;
    border: 1px solid black;
}
/* LOGO */
.logo{
    width: 7%;
}
.logo img{
    vertical-align: middle;
    margin: 17px 15px;
}

/* MAIN */
.cont-jumbo{
    background-color: #b4d0e7;
}
.jumbotron{
    position: relative;
    width: 85%;
    margin: auto;
}
.bck{
    height: 700px;
}

h1{
    font-size: 85px;
    padding: 30px 0;
}
.jumbotron p{
    width: 30%;
}

.jumbo-img{
    position: absolute;
    margin-left: 25%;
    width: 60%;
    top: 35%;
    left: 15%;
}

.cancel{
    padding-top: 25px;
}

.arrow{
    font-size: 35px;
    margin-top: 40px;
}

.orizontal-rules{
    border: 1px solid lightgray ;
    width: 50px;
    margin: 30px 52px;
}

/* RADIO */
.contain-plans {
    width: 70%;
    margin: auto;
    margin-top: 160px;
}
.contain-plans h2 {
    font-size: 40px;
    padding-top: 5%;
    padding-bottom: 4%;
}
.inputradio {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid lightgrey;
}
.inputradio:hover {
    border: 4px solid #0061ff ;
}

/* TABLE PRICE */

.cont-col {
    width: 85%;
    margin: auto;
    padding: 5% 5%;
}

div.cont-col h3 {
    padding-bottom: 5%;
}
.price {
    font-size: 14px;
    padding-bottom: 1%;
}

.included-offer {
    padding-top: 10%;
    list-style: none;
}
.included-offer li {
    padding-top: 5%;
}

.try-plan {
    width: 100%;
    text-align: center;
    margin: 15% 0;
}
.try-plan:hover {
    color: white;
    background-color: #0061ff;
    border-color: #0061ff;
}
.top-col-plan {
    padding: 2% 0;
    border-bottom: 1px solid lightgray;
    text-align: center;
}
.col-plans {
    width: 30%;
    margin-top: 20px;
    border: 1px solid lightgray;
    height: 900px;
}
.col-standard {
    margin-left: 5%;
    margin-right: 5%;
}

/* TEST */

h5{
    font-weight: bold;
    font-size: 20px;
}

.txtblack {
    color: black;
}
.txt13 {
    font-size: 13px;
}
.txt-month {
   padding-left: 50px;
   font-size: 12px;
}
.txtgrey {
    color: #6c7b88;
}
.margin-bottom1 {
    margin-bottom: 1%;
}
.txt-buy{
    padding-left: 50px;
    font-size: 15px;
}

h5{
    padding-left: 50px;
}

/* END TEST */
/* LIST */
.highlights {
    line-height: 300%;
    margin-top: 5%;
    list-style: none;
    padding: 0 50px;
}
.highlights i {
    color: #0061ff;
}

/* ENTERPRISE */
.contain-enterprise {
    margin-top: 50px;
    border: 1px solid lightgray;
}
.contain-enterprise div:first-child {
    border-bottom: 1px solid lightgray;
    text-align: center;
    padding: 10px;
    margin-bottom: 3%;
}
.enterprise {
    width: 70%;
    margin: auto;
    padding-left: 10px;
    
}
.enterprise a {
    float: right;
}
.enterprise h3 {
    margin-bottom: 2%;
    margin-left: 50px;
}
.enterprise h5, p {
    margin-top: 15px;
    margin-left: 40px;
    padding-left: 10px;
}
.enterprise p{
    margin: 15px 0;
}
.enterprise .btk-large{
    padding: 1% 2%;
}

/* Section 2 */
.contain-guy {
    margin-top: 10%
}
.col-img {
    width: 55%;
    margin-right: 5%;
}
.col-text {
    width: 40%;
}
.col-text h3 {
    margin-top: 8%;
    margin-bottom: 5%;
}
.col-text p {
    margin-bottom: 8%;
}
.col-text h3{
    margin-left: 50px;
}

.col-text a{
    margin-left: 50px;
}

/* Section 3 */

/* FIRST ROW */
.contain-operations{
    width: 100%;
}

.contain-operations h2 {
    margin-top: 10%;
}
.col-operations, .col-operations-center {
    width: 30%;
    margin-top: 2%;
}
.col-operations-center {
    margin-left: 5%;
    margin-right: 5%;
}
.margin-operations-h3 {
    margin-bottom: 5%;
    text-align: center;
}

.txt-12{
    padding-right: 30px;
    text-align: left;
    font-size: 12px;
}

/* SECOND ROW */
.second-row-operations {
    margin-top: 7%;
}

/* TEAM USED DROPBOX */
.people{
    padding-left: 200px;
}

.people a{
    padding: 20px 0;
}


/* ADVERTISING AND SPONSOR */

.col-log{
    width: 400px;
    height: 400px;
    margin: 50px 0; 
}
.col-tex{
    width: calc(100% - 800px);
    margin: 50px 0;
    height: 400px;
}

.box{
    width: 200px;
    height: 200px;
}

/* IMAGE ADVERTISING */
.green{
    position: relative;
    background-color: #a2d39b;
    width: 200px;
    height: 200px;
    float: left;
    border: 10px solid #d0e9cd;
}

.arizona{
    position: relative;
    width: 200px;
    height: 200px;
    float: left;
    background-color: #61082b;
}

.florida{
    position: relative;
    width: 200px;
    height: 200px;
    float: left;
    background-color: #0093ce;
}

.topps{
    position: relative;
    width: 200px;
    height: 200px;
    float: left;
    background-color: #ff1c1c;
}

.wbr{
    position: relative;
    width: 200px;
    height: 200px;
    float: left;
    background-color: #d5001f;
}

.hearst{
    position: relative;
    width: 200px;
    height: 200px;
    float: left;
    background-color: #b4d0e7;
}

.lonely{
    position: relative;
    width: 200px;
    height: 200px;
    float: left;
    background-color: #0d2481;
}

.clear{
    position: relative;
    width: 200px;
    height: 200px;
    float: left;
    background-color: #ffd830;
}

.img-logo{
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 150px;
    filter: invert(100);
}

.designit-container{
    padding-top: 50px;
    padding-left: 50px;
    height: 180px;
    width: 180px;
}

/* BANNER MAIN */
.bck-main-aqua{
    background-color: #b4d0e7;
    width: 100%;
    height: 300px;
}

.cta h2{
    display: inline-block;
    color: #61082b;
    font-size: 50px;
    margin-left: 80px;
}
.cta{
    width: 40%;
    margin: auto;
}

.cta a{
    float: right;
}

/* QUESTIONS & FAQ */
.cont-faq{
    width: 70%;
    margin: auto;
}
.faq{
    margin-top: 70px;
}
.faq li{
    list-style-type: none;
    height: 70px;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    line-height: 70px;
    font-weight: bold
}
.faq li:last-child{
    margin-bottom: 10%;
}

.faq i{
    float: right;
    line-height: 70px;
    margin-right: 4%;
    font-weight: bold
    
}

.faq h2{
    margin: 40px 0;
}

/* FOOTER */
.container-footer{
    width: 70%;
    margin: auto;
}
footer{
    background-color: black;
}
.footer-menu{
    color: white;
    margin: 20px 30px;
    line-height: 40px;
}


.footer-menu ul li{
    list-style-type: none;
}

.footer-menu li a{
    text-decoration: none;
    line-height: 10px;
    color: white;
    list-style-type: none;
    font-size: 15px;
}

.col .footer-menu{
    width: 20%;
}

.orizontal-rules-footer{
    border: 1px solid lightgray;
    width: 100px;
    margin-left: 60px;
}
.world{
    color: #999999;
    margin-top: 60px;
    margin-left: 60px;

}